<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 지점 mapping -->
<mapper namespace="branch">

	<!-- 지점등록  -->
	<insert id="regist">
		insert into branch values(
			#{branch_no},
			#{local_no},
			#{admin_no},
			#{branch_name},
			#{branch_size},
			#{branch_room_cnt},
			#{branch_seat_cnt},
			#{branch_locker_cnt},
			#{branch_layout},
			#{branch_detail_addr},
			#{branch_basic_addr},
			#{branch_post},
			#{branch_phone}
			,null
			)
	</insert>
	
	<!-- 시퀀스 생성 -->
	<select id="getSeq" resultType="int">
		SELECT branch_seq.nextval FROM dual
	</select>
	
	<!-- 지점 단일 조회 -->
	<select id="get" resultType="branchDto" parameterType="int">
		SELECT * FROM branch b
		LEFT OUTER JOIN admin a ON b.admin_no = a.admin_no
		LEFT OUTER JOIN LOCAL l ON l.LOCAL_NO = b.LOCAL_NO WHERE branch_no=#{branch_no}
	</select>
	
	<!-- 지역별 지점 조회 -->
	<select id="localBranchList" parameterType="int" resultType="branchDto">
		SELECT * FROM branch WHERE local_no=#{local_no} ORDER BY branch_no ASC
	</select>
	
	<!-- 지점 목록 -->
	<select id="getList" resultType="branchDto">
		SELECT * FROM (SELECT rownum rn,T.*FROM (SELECT * FROM branch b
		LEFT OUTER JOIN admin a ON b.admin_no = a.admin_no
		LEFT OUTER JOIN LOCAL l ON l.LOCAL_NO = b.LOCAL_NO ORDER BY branch_no DESC)T)
	</select>
	
	<!-- 지점 목록(페이징처리) -->
	<select id="getListPaging" resultType="branchDto">
		SELECT * FROM (SELECT rownum rn,T.*FROM (SELECT * FROM branch b
		LEFT OUTER JOIN admin a ON b.admin_no = a.admin_no
		LEFT OUTER JOIN LOCAL l ON l.LOCAL_NO = b.LOCAL_NO ORDER BY branch_no DESC)T)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 배치도 등록 -->
	<update id="layout_regist" parameterType="map">
		UPDATE branch SET branch_layout = #{branch_layout} WHERE branch_no = #{branch_no}
	</update>
	
	<!-- 지점 수정 -->
	<update id="edit" parameterType="branchDto">
		UPDATE branch SET 
			admin_no = #{admin_no},
			local_no = #{local_no},
			branch_name = #{branch_name},
			branch_size = #{branch_size},
			branch_room_cnt = #{branch_room_cnt},
			branch_seat_cnt = #{branch_seat_cnt},
			branch_locker_cnt = #{branch_locker_cnt},
			branch_layout = #{branch_layout},
			branch_post=#{branch_post},
			branch_basic_addr = #{branch_basic_addr},
			branch_detail_addr = #{branch_detail_addr},
			branch_phone = #{branch_phone}
		WHERE branch_no = #{branch_no}
	</update>
	
	<!-- 지점번호 조회 -->
	<select id="getNo" resultType="int">
		SELECT branch_no FROM branch
	</select>
	
	<!-- 지역번호와 일치하는 지점번호 조회 -->
	<select id="getNo2" resultType="int" parameterType="int">
		SELECT branch_no FROM branch WHERE local_no = #{local_no}
	</select>

	<!-- 지점이름으로 지점 뽑기 -->
	<select id="getName" parameterType="String" resultType="branchDto">
		SELECT * FROM branch WHERE branch_name=#{branch_name}
	</select>
	
	<!-- 지점 삭제 -->
	<delete id="delete">
		DELETE branch WHERE expired_date <![CDATA[ < ]]> sysdate
	</delete>
	
	<!-- 지점 이미지와 함꼐 지점단일조회 -->
	<select id="getWithImg" resultType="branchDto">
		SELECT * FROM branch a 
		LEFT OUTER JOIN BRANCH_IMG b ON a.BRANCH_NO = b.BRANCH_NO WHERE a.branch_no = #{branch_no}
	</select>
	

	<!-- 관리자 번호와 일치하는 지점번호 조회 -->
	<select id="getNo3" parameterType="int" resultType="int">
		SELECT branch_no FROM branch WHERE admin_no = #{admin_no}
	</select>

	<!-- admin번호 받아서 branch 번호 넘기기 -->
	<select id="getBranch" parameterType="int" resultType="int">
		SELECT branch_no FROM branch WHERE admin_no=#{admin_no}
	</select>
	
	<!-- 지점별 회원 보유현황 -->
	<select id="memberList" parameterType="int" resultType="memberDto">
		SELECT * FROM member WHERE branch_no = #{branch_no}
	</select>
	
	<!-- 총 지점 개수 출력 -->
	<select id="countBranch" resultType="int">
		SELECT count(*) FROM branch
	</select>
	
	<select id="getBranchName" parameterType="int" resultType="String">
		select branch_name from branch where branch_no = #{branch_no}
	</select>
	<!-- 지점삭제 누를 시 expired_date update -->
	<update id="expiredUpdate" parameterType="int">
		UPDATE branch SET expired_date = sysdate+30 WHERE branch_no=#{branch_no}
	</update>

	<!-- 지점 삭제 누를 시 delete_branch_list에 등록 -->
	<insert id="registDeleteList" parameterType="map">
		INSERT INTO delete_branch_list values(
			delete_branch_list_seq.nextval,
			#{admin_no},
			#{branch_name},
			sysdate,
			sysdate+30,
			'삭제예정')
	</insert>
	
	<!-- 지점번호로 지점 이름 뽑기 -->
	<select id="getNameToNo" parameterType="int" resultType="String">
		SELECT branch_name FROM branch WHERE branch_no=#{branch_no}
	</select>
	
	<!-- 지점 삭제 완료 시 삭제목록 테이블에 '삭제완료'로 표시-->
	<update id="updateStatus">
		UPDATE delete_branch_list SET delete_status ='삭제완료' WHERE finish_delete_date <![CDATA[ < ]]> sysdate
	</update>
	
	<select id="getDeleteList" resultType="branchDeleteListDto">
		SELECT d.*,a.admin_name,a.ADMIN_NO FROM delete_branch_list d 
		LEFT OUTER JOIN admin a ON d.admin_no = a.ADMIN_no
	</select>
</mapper>
