<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper는 구문을 만들 수 있는 영역
	일반적으로 테이블당 1개씩의 mapper를 둔다
	
	- namespace : 영역을 외부에서 부르기 위한 별칭(일반적으로 테이블 이름으로 사용)
 -->
<mapper namespace="member">
	<insert id="join" parameterType="memberDto">
		insert into member (
			member_no,
			member_name,
			member_email,
			member_pw,
			member_point,
			member_join,
			member_login,
			member_charge
		)
		values(
			member_seq.nextval,
			#{member_name},
			#{member_email},
			#{member_pw},
			0,
			sysdate,
			null,
			0
		)
	</insert>
	<select id="getList" resultType="memberDto">
		SELECT * FROM member ORDER BY member_no DESC
	</select>
	
	<select id="get" parameterType="int" resultType="memberDto">
		SELECT * FROM member WHERE member_no = #{member_no}
	</select>
	
	<!-- 회원 마일리지 수정 코드 -->
	<update id="plusPoint" parameterType="pointHisDto">
		UPDATE member SET member_point = member_point + #{point_his_score} WHERE member_no = #{member_no}
	</update>
	<select id="getNo" parameterType="string" resultType="int">
		select member_no from member where member_id=#{member_id}
	</select>
	<update id="minusPoint" parameterType="pointHisDto">
		UPDATE member SET member_point = member_point - #{point_his_score} WHERE member_no = #{member_no}
	</update>
	<delete id="delete" parameterType="int">
		delete member where member_no=#{member_no}
	</delete>
	<update id="edit" parameterType="memberDto">
		update member set member_name=#{member_name}, member_pw=#{member_pw} where member_no=#{member_no}
	</update>
	<select id="login" parameterType="memberDto" resultType="string">
		select * from member where member_id=#{id}
	</select>
	<update id="updateLoginTime" parameterType="int">
		update member set member_login = sysdate where member_no = #{member_no}
	</update>
</mapper>




