<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- mybatis를 운용하기 위한 설정이 있다면 이곳에 작성 -->
	
	<!-- properties : 이 문서 또는 외부에서 사용할 변수 -->
	<properties></properties>
	
	<!-- settings : myBatis 실행 중 반영되어야 할 규칙을 지정 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>
	
	<!-- typeAliases : 클래스에 부여하는 별칭 -->
	<typeAliases> 
		<typeAlias type="com.kh.finalproject.entity.BranchDto" alias="branchDto"/>
		<typeAlias type="com.kh.finalproject.entity.LocalDto" alias="localDto"/>
		<typeAlias type="com.kh.finalproject.entity.AdminDto" alias="adminDto"/>
		<typeAlias type="com.kh.finalproject.entity.LicenseDto" alias="licenseDto"/>
		<typeAlias type="com.kh.finalproject.entity.CouponDto" alias="couponDto"/>
		<typeAlias type="com.kh.finalproject.entity.CouponReqDto" alias="couponReqDto"/>
		<typeAlias type="com.kh.finalproject.entity.MemberCouponDto" alias="memberCouponDto"/>
		<typeAlias type="com.kh.finalproject.entity.PointDto" alias="pointDto"/>
		<typeAlias type="com.kh.finalproject.entity.PointHisDto" alias="pointHisDto"/>
		<typeAlias type="com.kh.finalproject.entity.SeatDto" alias="seatDto"/>
		<typeAlias type="com.kh.finalproject.entity.LicenseHisDto" alias="licenseHisDto"/>
		<typeAlias type="com.kh.finalproject.entity.InoutDto" alias="inoutDto"/>
		<typeAlias type="com.kh.finalproject.entity.PayServeDto" alias="payServeDto"/>
		<typeAlias type="com.kh.finalproject.entity.MemberDto" alias="memberDto"/>
		<typeAlias type="com.kh.finalproject.entity.BranchImgDto" alias="branchImgDto"/>
		<typeAlias type="com.kh.finalproject.entity.MessageManagerDto" alias="messageManagerDto"/>
		<typeAlias type="com.kh.finalproject.entity.MessageMemberDto" alias="messageMemberDto"/>
		<typeAlias type="com.kh.finalproject.entity.MessageDto" alias="messageDto"/>
		<typeAlias type="com.kh.finalproject.entity.MemberBranchDto" alias="memberBranchDto"/>
		<typeAlias type="com.kh.finalproject.entity.PayHisDto" alias="payHisDto"/>
		<typeAlias type="com.kh.finalproject.entity.PayInfoDto" alias="payInfoDto"/>
		<typeAlias type="com.kh.finalproject.entity.PayPointDto" alias="payPointDto"/>
		<typeAlias type="com.kh.finalproject.entity.CertDto" alias="certDto"/>
		<typeAlias type="com.kh.finalproject.entity.MemberCouponDto" alias="memberCouponDto"/> 
		<typeAlias type="com.kh.finalproject.entity.ChatDto" alias="chatDto"/>
		<typeAlias type="com.kh.finalproject.entity.NoticeDto" alias="noticeDto"/>
		<typeAlias type="com.kh.finalproject.entity.ReviewDto" alias="reviewDto"/>
		<typeAlias type="com.kh.finalproject.entity.ReviewLikeDto" alias="reviewLikeDto"/>
		<typeAlias type="com.kh.finalproject.entity.ReviewHateDto" alias="reviewHateDto"/>
		<typeAlias type="com.kh.finalproject.entity.BranchDeleteListDto" alias="branchDeleteListDto"/>
		<typeAlias type="com.kh.finalproject.VO.PagingVO" alias="pagingVO"/>
		<typeAlias type="com.kh.finalproject.VO.NoticePageVo" alias="noticePageVo"/>
	</typeAliases>
</configuration>
