<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pay">

<select id="getBranch" resultType="String">
	SELECT m.*,b.BRANCH_NAME 
		FROM MEMBER m 
			LEFT OUTER JOIN branch b 
				ON m.BRANCH_NO = b.BRANCH_NO ;
</select>

</mapper>