<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pay">
	<!--  회원 지점 조회  -->
	<select id="getBranch" resultType="memberBranchDto" parameterType="int">
		SELECT *
		FROM MEMBER m 
			LEFT OUTER JOIN branch b 
				ON m.BRANCH_NO = b.BRANCH_NO
			WHERE member_no=#{member_no}
	</select>

	<!--  회원 보유 쿠폰 조회 -->
	<select id="coupon_getList" resultType="memberCouponDto" parameterType="int"> 
		SELECT *
		 FROM MEMBER_COUPON mc
			LEFT OUTER JOIN COUPON c
				ON c.coupon_NO = mc.coupon_no
			WHERE mc.member_no=#{member_no} 
	</select>

	<!--  partner_order_id (가맹점 주문 번호 생성 ) -->
	<select id="getOrderSeq" resultType="int">
		SELECT p_order_seq.nextval FROM dual
	</select>

	<!-- 회원 이메일 가져오기 -->
	<select id="getId" resultType="string">
		SELECT member_email 
		FROM member 
		WHERE member_no=#{member_no}
	</select>
	
		<!-- 회원 이메일 가져오기 -->
	<select id="getPoint" resultType="int">
		SELECT member_point
		FROM member 
		WHERE member_no=#{member_no}
	</select>
	
<!-- 	<select id=getMemberNo resultType="int" > -->
<!-- 		SELECT member_no -->
<!-- 		FROM member -->
<!-- 		WHERE member -->
<!-- 	</select> -->
	
	<!-- 결제 내역에 데이터 추가  -->
	<insert id="insertPayInfo" parameterType="payHisDto">
		INSERT INTO pay_his(
			pay_his_no,
			tid_no,
			license_no,
			member_no,
			pay_his_date,
			pay_his_discount,
			pay_his_method,
			pay_his_price
		) VALUES (
			pay_his_seq.nextval,
			#{tid_no},
			#{license_no},
			#{member_no},
			#{pay_his_date},
			#{pay_his_discount},
			'카카오페이',
			#{pay_his_price}
		)
	</insert>
	
	<!-- 회원 결제 내역 조회   -->
	<select id="getPayInfo" resultType="payInfoDto" parameterType="int">
		SELECT p.*, pp.*,l.*,TO_CHAR(p.PAY_HIS_DATE ,'YYYY-MM-DD')AS PAY_HIS_DATE2
		FROM pay_his p 
		LEFT OUTER JOIN license l
			ON p.LICENSE_NO = l.LICENSE_NO 
		LEFT OUTER JOIN MEMBER m
			ON p.MEMBER_NO = m.MEMBER_NO 
		LEFT OUTER JOIN pay_point pp
			ON p.tid_no = pp.tid_no 
		WHERE m.member_no=#{member_no}
		ORDER BY p.PAY_HIS_DATE DESC
	</select> 
	
		<!-- 주문 상세 내역 조회   -->
	<select id="getPayDetailInfo" resultType="payInfoDto" parameterType="String">
		SELECT p.*, pp.*,l.*,m.*,TO_CHAR(p.PAY_HIS_DATE ,'YYYY-MM-DD')AS PAY_HIS_DATE2
		FROM pay_his p 
		LEFT OUTER JOIN license l
			ON p.LICENSE_NO = l.LICENSE_NO 
		LEFT OUTER JOIN MEMBER m
			ON p.MEMBER_NO = m.MEMBER_NO 
		LEFT OUTER JOIN pay_point pp
			ON p.tid_no = pp.tid_no 
		WHERE p.tid_no=#{tid_no}
	</select>
	
	<!--  회원 보유 시간 추가  -->
	<update id="addCharge" parameterType="map">
			UPDATE member SET member_charge = member_charge + #{license_time} WHERE member_no=#{member_no}
	</update>
	
	<!--  회원 보유 시간 차감 -->
	<update id="minusCharge" parameterType="map">
			UPDATE member SET member_charge = member_charge - #{license_time} WHERE member_no=#{member_no}
	</update>
	
	<!-- 결제 완료 시 회원 마일리지 수정 코드 -->
	<update id="plusPoint"  parameterType="payPointDto">
		UPDATE member SET member_point = member_point + #{reward} WHERE member_no = #{member_no}
	</update> 
	
	<update id="minusPoint" parameterType="payPointDto">
		UPDATE member SET member_point = member_point - #{pay_use_point} WHERE member_no = #{member_no}
	</update> 
	
	<!--  결제 취소 시 회원 마일리지 복귀 -->
	<update id="rePlusPoint"  parameterType="map">
		UPDATE member SET member_point = member_point + #{pay_use_point} WHERE member_no = #{member_no}
	</update> 
	
	<update id="reMinusPoint" parameterType="map">
		UPDATE member SET member_point = member_point - #{reward} WHERE member_no = #{member_no}
	</update>
	
	
	<insert id="payPointRegist" parameterType="payPointDto">
		INSERT INTO pay_point(
			tid_no,
			member_no,
			pay_use_point,
			reward, 
			coupon_discount,
			coupon_no
		) VALUES(
			#{tid_no},
			#{member_no},
			#{pay_use_point},
			#{reward},
			#{coupon_discount},
			#{coupon_no}
		)
	</insert>
	
	<!--  결제 시 마일리지 차감 내역  -->
	<insert id="registUsePoint" parameterType="payPointDto">
		INSERT INTO point_his(
			point_his_no,
			member_no,
			point_no,
			point_his_score,
			point_his_detail
		) VALUES (
			point_his_seq.nextval,
			#{member_no},
			32,
			#{pay_use_point},
			'이용권 구매로 인한 차감'
		)
	</insert>
	
	<!--  결제 시 마일리지 적립 내역  -->
	<insert id="registReward" parameterType="payPointDto">
		INSERT INTO point_his(
			point_his_no,
			member_no,
			point_no,
			point_his_score
		) VALUES (
			point_his_seq.nextval,
			#{member_no},
			31,
			#{reward},
			'이용권 구매로 인한 적립'
		)
	</insert>

	<!--  결제 취소 시 상태 변경 -->
	<update id="changeStatus" parameterType="String">
		UPDATE pay_his SET pay_his_state = '결제취소' WHERE tid_no=#{tid_no}
	</update>
	
	<!--  결제 취소 시 사용된 마일리지 적립 내역  -->
	<insert id="reRegistUsePoint" parameterType="map">
		INSERT INTO point_his(
			point_his_no,
			member_no,
			point_no,
			point_his_score
		) VALUES (
			point_his_seq.nextval,
			#{member_no},
			33,
			#{pay_use_point}
		)
	</insert>
	
	<!--  결제 취소 시 적립된 마일리지 차감 내역  -->
	<insert id="reRegistReward" parameterType="map">
		INSERT INTO point_his(
			point_his_no,
			member_no,
			point_no,
			point_his_score
		) VALUES (
			point_his_seq.nextval,
			#{member_no},
			34,
			#{reward}
		)
	</insert>
	
	<delete id="deleteCoupon" parameterType="map">
		DELETE member_coupon WHERE member_no=#{member_no} AND coupon_no=#{coupon_no}
	</delete>
	
	<!--  결제 취소 시 사용한 쿠폰 재발급 -->
	<insert id="addCoupon" parameterType="payInfoDto">
		INSERT INTO member_coupon(
			member_no,
			coupon_no, 
			branch_no
		) VALUES(
			#{member_no},
			#{coupon_no},
			#{branch_no}
		)
	</insert>

</mapper>




