<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pay">

	<select id="getBranch" resultType="memberBranchDto" parameterType="int">
		SELECT * FROM member m
		LEFT OUTER JOIN branch b
		ON m.BRANCH_NO = b.BRANCH_NO
		WHERE member_no=#{member_no}
	</select>

	<!--  partner_order_id (가맹점 주문 번호 생성 ) -->
	<select id="getOrderSeq" resultType="int">
		SELECT p_order_seq.nextval FROM dual
	</select>

	<!-- 회원 이메일 가져오기 -->
	<select id="getId" resultType="string">
		SELECT member_email 
		FROM member 
		WHERE member_no=#{member_no}
	</select>
	
<!-- 	<select id=getMemberNo resultType="int" > -->
<!-- 		SELECT member_no -->
<!-- 		FROM member -->
<!-- 		WHERE member -->
<!-- 	</select> -->
	
	<!-- 결제 내역에 데이터 추가  -->
	<insert id="insertPayInfo" parameterType="payHisDto">
		INSERT INTO pay_his(
			pay_his_no,
			tid_no,
			license_no,
			member_no,
			pay_his_date,
			pay_his_discount,
			pay_his_method,
			pay_his_price
		) VALUES (
			pay_his_seq.nextval,
			#{tid_no},
			#{license_no},
			#{member_no},
			#{pay_his_date},
			#{pay_his_discount},
			#{pay_his_method},
			#{pay_his_price}
		)
	</insert>
	
	<select id="getPayInfo" resultType="payInfoDto" parameterType="int">
		SELECT * 
		FROM pay_his p 
		LEFT OUTER JOIN license l
			ON p.LICENSE_NO = l.LICENSE_NO 
		LEFT OUTER JOIN MEMBER m
			ON p.MEMBER_NO = m.MEMBER_NO 
		WHERE m.member_no=#{member_no}
	</select>

</mapper>