<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper는 구문을 만들 수 있는 영역
	일반적으로 테이블당 1개씩의 mapper를 둔다
	
	- namespace : 영역을 외부에서 부르기 위한 별칭(일반적으로 테이블 이름으로 사용)
 -->
<mapper namespace="point">
	<select id="getSeq" resultType="int">
		SELECT point_seq.nextval FROM dual
	</select>
	<insert id="regist" parameterType="pointDto">
		INSERT INTO POINT(
			point_no,
			point_type,
			point_detail,
			point_score
		) VALUES (
			#{point_no},
			#{point_type},
			#{point_detail},
			#{point_score}
		)
	</insert>
	<select id="getDetail" parameterType="String" resultType="pointDto">
		SELECT * FROM point WHERE point_detail = #{point_detail}
	</select>
	
	<select id="get" parameterType="int" resultType="pointDto">
		SELECT * FROM point WHERE point_no = #{point_no}
	</select>
	
	<select id="getList" resultType="pointDto">
		SELECT * FROM point	ORDER BY point_no DESC
	</select>
	
	<select id="getList2" resultType="pointDto" parameterType="String">
		SELECT * FROM point
		<if test="point_type != 'all'">
			WHERE instr(point_type, #{point_type}) > 0
		</if>
		ORDER BY point_no DESC
	</select>
	
	<update id="edit" parameterType="pointDto">
		UPDATE point SET 
			point_type = #{point_type},
			point_detail = #{point_detail},
			point_score = #{point_score}
		WHERE point_no = #{point_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM point WHERE point_no = #{point_no}
	</delete>
	
</mapper>




