<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">
	
	<!-- 리뷰 등록 -->
	<insert id="regist" parameterType="reviewDto">
		INSERT INTO review VALUES(
			review_seq.nextval,
			#{member_no},
			#{review_title},
			#{review_content},
			sysdate,
			#{branch_no}
		)
	</insert>
	
	<!-- 지점별 리뷰 목록 -->
	<select id="getListBranchReview" parameterType="int" resultType="reviewDto">
		SELECT r.*,m.MEMBER_NAME FROM review r LEFT OUTER JOIN MEMBER m on r.MEMBER_NO = m.MEMBER_NO
		WHERE r.branch_no=#{branch_no}
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="edit" parameterType="map">
		UPDATE review 
		SET 
		REVIEW_TITLE =#{review_title},
		REVIEW_CONTENT=#{review_content} 
		WHERE review_no=#{review_no}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE review WHERE review_no=#{review_no}
	</delete>
</mapper>